/*--beige : #F0F3BD;
--vert-light : #02C39A;
--vert-mid : #00A896;
--blue-mid : #028090;
--blue-dark : #05688D;*/

/* =====================
        Général
======================== */




:root{
    --beige : #F0F3BD;
    --vert-light : #05688D;
    --vert-mid : #028090;
    --blue-mid : #028090;
    --blue-dark : #05688D;
}

*{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Oswald', sans-serif;
}




/* =====================
        Header
======================== */





.primary-header{
    font-size: 40px;
    height: 80vh;
    background-image: url("./Image/meilleurs-albums-rap-us-americain-2020.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;


    padding: 15px 50px 0 50px;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    transition: width ;


}

.menu-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#logo-header{
    height: 80%;
    width: 100px;

}

@keyframes logoAnimation {
    0%{
       transform:  rotate(0deg);
    }
    33%{
        transform:rotate(15deg);
    }
    66%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(0deg);
    }

}
#logo-header:hover{
    animation: logoAnimation 0.5s ease-out;
}

.header-element{
    color: white;
    text-decoration: none;
}

#title{
    font-style: italic;
    font-size: 50px;

}

#video-element{
    padding-right: 50px;
}

.header-secondary-element{
    color: white;
    font-size: 35px ;
    text-decoration: none;

}
.main-title{
    position: absolute;
    top: 60%;
    left: 10%;
    color: white;
    font-size: 100px;
    z-index: 0;
    transition: width .6s ease;
}

/*.main-title span{
    color: var(--vert-light);
    font-style: italic;
}*/

.main-title::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: -10px;
    top: 80px;
    background: var(--vert-light);
    width: 60%;
    z-index: -1;
    transition: width .6s ease;
}

@keyframes width {
    0%{
        width: 40%;
    }
    100%{
        width: 60%;
        transform: scale(1.05);
        background-size: 130%;
    }
}

.main-title:hover{
    animation: width 1s ease forwards;
}




/* =====================
        Cards
======================== */




.card{
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 10px;



}


.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "case1 case1 case2"
                         "case1 case1 case3"
                         "case4 case5 case6";
    height: 120vh;
    grid-gap: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    font-family: 'Bebas Neue', cursive;

}


#case1{
    grid-area: case1;
    background-image: url("./Image/zazaorties-albums-rap-25-mars-2022.png");
    background-size: cover;
    background-repeat: no-repeat;


}

#case2{
    grid-area: case2;
    background-image: url("./Image/damso-lithopedion-backpackerz.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

#case3{
    grid-area: case3;
    background-image: url("./Image/meilleurs-albums-rap-francais-2020.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#case4{
    grid-area: case4;
    background-image: url("./Image/media-e1554136449829.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

}
#case5{
    grid-area: case5;
    background-image: url("./Image/tjaycase.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#case6{
    grid-area: case6;
    background-image: url("./Image/dossier-kanye-west-sound-evolution.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#title-span{
    color: var(--blue-dark);
}


.card-title{
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-size: 120px;
    margin-top: 50px;
    margin-bottom: 80px;
    font-weight: bold;

}

.card-title::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 500px;
    top: 80px;
    background: var(--vert-light);
    width: 30%;
    z-index: -1;


}

.card-link{
    text-decoration: none;
    color: white;
    font-size: 80px;
    position: relative;
    height: 100%;
    width: 40%;
    background-color: var(--vert-mid);
    text-align: center;
    border-radius: 10px 0px 0px 10px;



}

#link1{
    padding-top: 300px;
}

#link2{
    padding-top: 40px;
}

#link3{
    padding-top: 40px;
}

#link4{
    padding-top: 40px;
}
#link5{
    padding-top: 40px;
}
#link6{
    padding-top: 40px;
}

#link1::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -20px;
    left: 20px;
    top: 20px;
    background: var(--vert-light);
    width: 250%;
    z-index: -1;
    border-radius: 10px;
}

#link2::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -20px;
    left: 20px;
    top: 20px;
    background: var(--vert-light);
    width: 250%;
    z-index: -1;
    border-radius: 10px;
}

#link3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -20px;
    left: 20px;
    top: 20px;
    background: var(--vert-light);
    width: 250%;
    z-index: -1;
    border-radius: 10px;
}

#link4::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -20px;
    left: 20px;
    top: 20px;
    background: var(--vert-light);
    width: 250%;
    z-index: -1;
    border-radius: 10px;
}
#link5::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -20px;
    left: 20px;
    top: 20px;
    background: var(--vert-light);
    width: 250%;
    z-index: -1;
    border-radius: 10px;
}
#link6::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -20px;
    left: 20px;
    top: 20px;
    background: var(--vert-light);
    width: 250%;
    z-index: -1;
    border-radius: 10px;
}

@keyframes caseOver {
    0%{
        transform: scale(1);

    }

    100%{
        transform: scale(1.03);
    }

}

#link1:hover::after{
    animation: caseOver 1s ease forwards;
}

#link2:hover::after{
    animation: caseOver 1s ease forwards;
}
#link3:hover::after{
    animation: caseOver 1s ease forwards;
}






/* =====================
        Squad
======================== */




.squad-section{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 300px;
}

.squad-image{
    width: 40%;
    position: relative;
    right: 200px;
    transform: rotate(10deg);
    z-index: -2;
    box-shadow: 15px 10px 10px rgba(0,0,0,0.6);
}

.squad-info{
    background-color: white;
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 60px;
    position: relative;
    right: -100px;
}

.squad-title{
    font-size: 70px;
    text-transform: uppercase;
}

.squad-desc{
    font-size: 28px;
    margin-bottom: 200px;
}

.squad-btn{
    text-decoration: none;
    color: white;
    margin-top: 100px;
    background-color: white;
    font-size: 50px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;

    background-color: var(--vert-mid);

}

.squad-btn:hover{

    background-color: white;
    color: var(--vert-mid);
    border: solid var(--vert-mid) 5px;
}

.squad-info::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    left: -210px;
    top: 20px;
    background: var(--vert-mid);
    width: 272%;
    height: 120%;
    z-index: -5;
    transform: translateY(-90px);
}





/* =====================
        Footer
======================== */






.footer{

    background-color: var(--vert-mid);
    height: 70vh;
    color: white;
    padding-top:110px;


}

.footer-logo{

    width:100px;
    height:100px;
    background-image: url("Image/logocroco2.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.footer-logo:hover{
    animation: logoAnimation 0.5s ease-out;
}


.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    font-style: italic;
}

.footer-text{
    text-align: center;
    font-size: 35px;
    font-style: italic;
    margin-top: 70px;
    margin-bottom: 100px;
}

.footer-link-element{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px 0 20px 0;
    border-bottom-style: solid;
}

.footer-link-element:hover{
    padding-bottom: 5px;
}

